img{
    width: 15%;
    margin-right: 2%;
}
p.a{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translate(0px,14px) rotate(35deg);
}
font{
    color: rgb(0, 175, 233);
}
.bg{
    background: linear-gradient(to right, #d5cece, #999999);
    height: 200px;
    width: 100%;
    background-image: url("../img/bgindex.png");
    background-size: 100%;

    background-position: center;
    text-align: center;
    padding: 5%;
}
.flavius{
    color: white;
    font-size: 300%;
    font-family: fantasy;
}
.quote{
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    font-size: 100%;
    color: white;
    font-family: cursive;
    border-top: 2px solid white ;
    border-bottom: 2px solid white ;
    padding: 2%;
}